@model string
@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <p>@ViewBag.Message</p>
</head>
<body>
    <div> 
        @Model
        @Html.ActionLink("Kreiraj tečaj", "Create", "SqlCommandObject")
        @Html.ActionLink("Updateaj tečaj", "Edit", "SqlCommandObject")
        @Html.ActionLink("Obrisi tečaj", "Delete", "SqlCommandObject")
        @Html.ActionLink("Pobroji tečaj", "Count", "SqlCommandObject")
    </div>
</body>
</html>
